@font-face {
  font-family: 'Titlefont';
  src: url("fonts/Apex New Light.otf") format("woff2"); }
@font-face {
  font-family: 'BodyFont';
  src: url("fonts/Roboto-Thin.ttf") format("woff2"); }
@font-face {
  font-family: 'Adam';
  src: url("fonts/ADAMCGPRO.otf") format("woff2"); }
h1, h2, h3, h4, h5, h6, p {
  margin: 0; 
  color:white;
  font-family: Titlefont}

.titlebox{
  border-bottom:1px solid rgb(50,50,50);
  display: flex;
}


.titlebox h4{
  margin-left:20px;
  margin-bottom:2px;
  border-bottom:1px solid white;
}

.window{
  border-bottom:1px solid gray;
}

body {
  margin: 0;
  background-color:rgb(10,10,10);
  overflow: hidden;
  display:grid;
  grid-template-columns: [leftbar] 2fr [middlebar] 6fr [rightbar] 3fr;
  grid-template-rows:none;
}

.leftbar{
  height:100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.rightbar{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.key-segment:first-child{
  border-left:0px solid gray;
}

.key-segment{
  border-left:1px solid gray;
}

.preview-window{
  margin-top:auto;

}

.tinybut{
  display:flex;
  justify-content: center;
  align-items: center;
  border:1px solid gray;
  border-radius: 2px;
  height:23px;
  width:23px;
  margin:1px;
  transition: .3s;
}

.tinybut:hover{
  background-color:rgba(100,100,100,.75);
}

.layerbox{
  justify-content: flex-start;
  align-items:flex-start;
  flex-direction: column;
  height:calc(100% - 28px);
  overflow-y:scroll;
}

.layer{
  display:flex;
  justify-content: center;
  align-items: center;
  border:1px solid gray;
  border-radius:4px; 
  width: calc(100% - 10px);
  padding-left:5px;
  margin:2px;
  transition: .3s;
  background-color:rgba(255,255,255,0);
}

.layer:hover{
  background-color:rgba(255,255,255,.2);
}

.layer.selected{
  background-color:rgba(255,255,255,.4);
}

.layer h3{
  font-size:.8em;
}

.layer .tinybut{
  font-size: .5em;
  height:15px;
  width:15px;
}

.inpline h4{
  margin-left:10px;
}

.inpline{
  display:flex;
  justify-content: space-between;
  margin-top:2px;
}

input{
  background-color:rgba(0,0,0,0);
  border:1px solid gray;
  border-radius: 2px;
  color:white;
}

.colorbut-selected{
  border:2px solid blue;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jlz25m');
  src:  url('fonts/icomoon.eot?jlz25m#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jlz25m') format('truetype'),
    url('fonts/icomoon.woff?jlz25m') format('woff'),
    url('fonts/icomoon.svg?jlz25m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color:white;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
  content: "\e905";
}
.icon-pen:before {
  content: "\e908";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-menu4:before {
  content: "\e9c0";
}
.icon-plus:before {
  content: "\ea0a";
}